.has-faded {// revoir l'animation
    visibility: hidden;
}

@keyframes fade-in {

    from{ //display doesnt work in animation so use visibility
        visibility: hidden;
        opacity: 0;

    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;

    }

}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards; //forwards will keep the style after the animation is finished
}

@keyframes fade-out {

    from{ //display doesnt work in animation
        visibility: visible;
        opacity: 1;

    }
    99%{
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;

    }

}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards; //forwards will keep the style after the animation is finished
}