/* Error: expected "(".
 *   ,
 * 4 |         background-image: url('/images/'bg-intro-mobile.svg);
 *   |                                                            ^
 *   '
 *   scss/_hero.scss 4:60  @import
 *   scss/style.scss 7:8   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"(\".\a   \2577 \a 4 \2502          background-image: url('/images/'bg-intro-mobile.svg);\a   \2502                                                             ^\a   \2575 \a   scss/_hero.scss 4:60  @import\a   scss/style.scss 7:8   root stylesheet";
}
